<div class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__info">
        <a class="footer__logo" [routerLink]="''">
          <img src="assets/icons/course-name-icon.png" alt="course-academy-logo" class="footer__logo-img">
          <p class="footer__logo-text">Course academy</p>
        </a>

        <p class="footer__address">Ukraine, Lviv, 38 Panteleimona Kulisha Street</p>
      </div>

      <div class="footer__courses">
        <p class="footer__courses-title">Курси</p>

        <div class="footer__courses-content">
          <ul class="footer__courses-list">
            <li class="footer__courses-item" *ngFor="let course of courses">
              <a class="footer__courses-link" [routerLink]="'/course/'+course.url"> {{course.name}} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright-text">Copyright © 2025 Course academy</p>

      <div class="footer__socials">
        <div class="footer__social">
          <img src="assets/icons/facebook-icon.png" alt="facebook" class="footer__social-icon">
        </div>
        <div class="footer__social">
          <img src="assets/icons/instagram-icon.png" alt="instagram" class="footer__social-icon">
        </div>
        <div class="footer__social">
          <img src="assets/icons/telegram-icon.png" alt="telegram" class="footer__social-icon">
        </div>
        <div class="footer__social">
          <img src="assets/icons/tik-tok-icon.png" alt="tik-tok" class="footer__social-icon">
        </div>
        <div class="footer__social">
          <img src="assets/icons/linkedin-icon.png" alt="linkedin" class="footer__social-icon">
        </div>
      </div>
    </div>
  </div>
</div>
