@use "../../../_system/_styles/_mixins.scss";
@use "../../../_system/_styles/_theme-material.scss" as *;

.card {
  cursor: pointer;
  position: relative;
  padding: 32px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  @include mixins.box-style(1px solid $primary, 32px, $primary);

  &__header {
    gap: 32px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 44px;
  }

  &__tags {
    gap: 8px;
    flex-wrap: wrap;
    height: min-content;
    @include mixins.flex(row, flex-start, flex-start);
  }

  &__tag--category {
    width: fit-content;
    height: fit-content;
    padding: 6px 12px;
    letter-spacing: -0.245px;
    @include mixins.fonts-text($manrope-semibold, 14px, $gray);
    @include mixins.box-style(1px solid $white, 48px, $white);
  }

  &__image-wrapper {
    width: 120px;
    height: 120px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    padding: 32px;
    border-radius: 32px;
    transition: height .3s cubic-bezier(.3,.1,.3,1), backdrop-filter .3s cubic-bezier(.3,.1,.3,1), bakground-color .3s cubic-bezier(.3,.1,.3,1), -webkit-backdrop-filter .3s cubic-bezier(.3,.1,.3,1);
  }

  &__price {
    margin-bottom: 12px;
    letter-spacing: -0.32px;
    @include mixins.fonts-text($manrope-semibold, 16px, $gray);
  }

  &__subscription {
    margin-bottom: 16px;
    letter-spacing: -2px;
    @include mixins.fonts-text($manrope-bold, 32px, $black);
  }

  &__description {
    opacity: 0;
    letter-spacing: -0.32px;
    transition: opacity .3s cubic-bezier(.3,.1,.3,1);
    @include mixins.fonts-text($manrope-semibold, 16px, $gray);
  }

  @media (max-width: $media-xl) {
    &__subscription {
      letter-spacing: -1.8px;
      @include mixins.fonts-text($manrope-bold, 24px, $black);
    }
  }

  @media (max-width: $media-lg) {
    &__header {
      margin-bottom: 76px;
    }
  }

  @media (max-width: $media-md) {
    padding: 32px 20px;

    &__image-wrapper {
      width: 90px;
      height: 90px;
    }
  }
}

.card:hover .card__body {
  height: 100%;
  background-color: $hovered;
  backdrop-filter: blur(24px);
}

.card:hover .card__description {
  opacity: 1;
}
