@use "../../../_system/_styles/_mixins.scss";
@use "../../../_system/_styles/_theme-material.scss" as *;

.purchase {
  width: 100%;
  padding-top: 78px;
  margin-bottom: 80px;

  &__container {
    max-width: 480px;
    width: 100%;
    padding: 32px;
    margin: 80px auto 0;
    gap: 18px 0;
    @include mixins.box-style(2px solid $red, 16px, $white);
    @include mixins.flex(column, flex-start, flex-start);
  }

  &__title {
    width: 100%;
    text-align: center;
    @include mixins.fonts-text($manrope-bold, 28px, $black);
  }

  &__form {
    width: 100%;
    gap: 16px 0;
    @include mixins.flex(column, flex-start, flex-start);
  }

  &__label {
    width: 100%;
    gap: 5px 0;
    @include mixins.flex(column, flex-start, flex-start);
    @include mixins.fonts-text($manrope-bold, 16px, $black);
  }

  &__input {
    width: 100%;
    padding: 5px 10px;
    @include mixins.box-style(1px solid $red, 8px, $white);
    @include mixins.fonts-text($manrope-regular, 16px, $black);
  }

  &__button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background-color: $red;
    color: $white;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    @include mixins.fonts-text($manrope-bold, 16px, $white);
  }

  @media (max-width: $media-xl) {
    margin-bottom: 80px;
    padding: 78px 30px 0 30px;

    &__container {
      margin: 80px auto 0;
    }

    &__title {
      @include mixins.fonts-text($manrope-bold, 24px, $black);
    }

    &__button {
      padding: 10px;
    }
  }

  @media (max-width: $media-lg) {
    margin-bottom: 56px;
    padding: 78px 20px 0 20px;

    &__container {
      margin: 56px auto 0;
    }

    &__input {
      @include mixins.fonts-text($manrope-regular, 14px, $black);
    }
  }

  @media (max-width: $media-sm) {
    padding: 78px 10px 0 10px;

    &__title {
      @include mixins.fonts-text($manrope-bold, 20px, $black);
    }
  }
}
