<div class="section1">
  <div class="section1__container">
    <header class="section1__header">
      <h1 class="section1__headline">
        Платите за підписки, якими давно не користуєтесь? Ви не одні.
      </h1>
      <p class="section1__description">
        Ми створили SubResale, щоб це змінити. Це зручна та безпечна платформа, де ви можете продати непотрібні підписки, а інші — вигідно їх придбати.<br>
            Жодних переплат. Жодних втрат.<br><br>
            Підписки на стрімінги, програми, сервіси — якщо ви ними не користуєтесь, вони можуть стати цінними для когось іншого.
        <br><br>
        Slack was acquired by Salesforce in 2021.
      </p>
    </header>

    <div class="section1__stats">
      <div class="stat">
        <h3 class="stat-number">200k+</h3>
        <p class="stat-description">paid<br>customers</p>
      </div>
      <div class="stat">
        <h3 class="stat-number">77</h3>
        <p class="stat-description">of the Fortune 100<br>use Slack</p>
      </div>
      <div class="stat">
        <h3 class="stat-number">150+</h3>
        <p class="stat-description">countries have<br>daily active users in Slack</p>
      </div>
    </div>
  </div>
</div>
