@font-face {
  font-family: "Manrope Regular";
  src: url("/assets/fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Light";
  src: url("/assets/fonts/Manrope/static/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Medium";
  src: url("/assets/fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope SemiBold";
  src: url("/assets/fonts/Manrope/static/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Bold";
  src: url("/assets/fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
}
