@mixin fonts-text($ff, $fs, $col) {
  font-family: $ff;
  font-size: $fs;
  color: $col;
}

@mixin box-style($br, $br-r, $bg-col) {
  border: $br;
  border-radius: $br-r;
  background: $bg-col;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
