@use "../../../../_system/_styles/_mixins.scss";
@use "../../../../_system/_styles/_theme-material.scss" as *;

.account__info {
  width: 100%;
  height: 100%;
  gap: 20px 0;
  @include mixins.flex(column, flex-start, flex-start);

  &-heading {
    line-height: 28px;
    text-align: center;
    @include mixins.fonts-text($manrope-bold, 24px, $darkgray);
  }

  &-form {
    gap: 20px 0;
    width: 100%;
    height: 100%;
    @include mixins.flex(column, flex-start, flex-start);
  }

  &-text {
    @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
  }

  &-input {
    width: 100%;
    height: 44px;
    padding: 0 20px;
    line-height: 56px;
    @include mixins.box-style(1px solid $secondary, 10px, $white);
    @include mixins.fonts-text($manrope-regular, 14px, $darkgray);
  }

  &-firstname, &-lastname, &-phone, &-email {
    gap: 10px 0;
    width: 100%;
    @include mixins.flex(column, flex-start, flex-start);
  }

  &-error {
    width: 100%;

    &-text {
      @include mixins.fonts-text($manrope-medium, 14px, $red);
    }
  }

  &-error-border {
    border: 1px solid $red;
  }

  &-message {
    width: 100%;
    height: 44px;
  }

  &-snackbar {
    width: 100%;
    @include mixins.flex(row, center, flex-start);

    &-container {
      width: fit-content;
      animation: fadeInSlide 0.3s ease;
      @include mixins.flex(row, flex-start, center);
      @include mixins.box-style(1px solid $secondary, 8px, $primary);
    }

    &-text {
      margin: 10px 16px;
      @include mixins.fonts-text($manrope-medium, 14px, $darkgray);
    }

    &-separator {
      width: 1px;
      height: 42px;
      background-color: $secondary;
    }

    &-close {
      cursor: pointer;
      margin: 10px 16px;

      &-text {
        text-decoration: underline;
        @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
      }
    }
  }

  &-button {
    width: 100%;
    margin-top: auto;
    @include mixins.flex(row, flex-start, flex-start);
  }

  &-btn {
    width: 100%;
    cursor: pointer;
    padding: 10px 8px;
    @include mixins.fonts-text($manrope-bold, 16px, $darkgray);
    @include mixins.box-style(1px solid $primary, 10px, $primary);
  }

  &-btn:disabled {
    opacity: 0.8;
    cursor: not-allowed;
    pointer-events: none;
  }

  &-btn:hover {
    @include mixins.box-style(1px solid $secondary, 10px, $primary);
  }

  @media (max-width: $media-md) {
    &-heading {
      line-height: 24px;
      @include mixins.fonts-text($manrope-bold, 20px, $darkgray);
    }

    &-text {
      @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
    }

    &-input {
      height: 31px;
      @include mixins.fonts-text($manrope-regular, 12px, $darkgray);
    }

    &-message {
      height: 31px;
    }

    &-snackbar {
      &-text {
        margin: 5px 8px;
        @include mixins.fonts-text($manrope-medium, 12px, $darkgray);
      }

      &-separator {
        height: 29px;
      }

      &-close {
        margin: 5px 8px;

        &-text {
          @include mixins.fonts-text($manrope-bold, 12px, $darkgray);
        }
      }
    }

    &-btn {
      padding: 5px 4px;
      @include mixins.fonts-text($manrope-bold, 14px, $darkgray);
    }
  }
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
