<div class="account">
  <section class="account__container">
    <div class="account__sidebar">
      <div class="account__profile">
        <div class="account__profile-image">
          <span class="account__profile-icon">{{ userData?.firstName?.slice(0, 1) }}</span>
        </div>
        <h2 class="account__profile-name">{{ userData?.firstName }} {{userData?.lastName}}</h2>
      </div>

      <nav class="account__nav">
        <button class="account__nav-btn" type="button" [routerLink]="['info']">Особисті дані</button>
        <button class="account__nav-btn" type="button" [routerLink]="['bought-subscription']">Куплені підписки</button>
        <button class="account__nav-btn" type="button" [routerLink]="['sold-subscription']">Продані підписки</button>
        <button class="account__nav-btn" type="button" [routerLink]="['selling-subscription']">Зробити оголошення</button>
      </nav>

      <div class="account__exit">
        <button class="account__exit-btn" type="button" [routerLink]="['']" (click)="logOut()">Вихід</button>
      </div>
    </div>

    <div class="account__content">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
